<div class="container mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img [src]="imagePath" alt="logo-img" height="100">
      </div> 
    </div>
    <div class="col-md-6 d-flex justify-content-end mt-4">
      <button class="btn item-action-btn" (click)="callAddItemComponent()" appRole>Add Product</button>
        <mat-icon class="icon">shopping_cart_outline</mat-icon>
        <mat-icon class="icon">person_outline</mat-icon>
    </div>
  </div>
</div>

  
