<div class="modal-header" style="color: #673ab7">
    <h2 class="modal-title pull-left">edit Item</h2>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editItemForm">
      <div class="mb-3">
        <label  class="form-label">Product Title</label>
        <input type="text" class="form-control"  placeholder="enter input title" formControlName="title">
      </div>
      <div class="mb-3">
        <label  class="form-label">Product description</label>
        <textarea class="form-control" rows="3" formControlName="desc"></textarea>
      </div>
      <div class="mb-3">
        <label  class="form-label">Product Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text">₹</span>
            <input type="text" class="form-control" formControlName="price">
            <span class="input-group-text">.00</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload image</label>
        <input class="form-control" type="file" id="formFile" disabled>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Select Category</label>
        <select class="form-select" aria-label="Default select example" formControlName="category">
            <option selected>Open this to select category</option>
            <option value="Kitchen_&_Dining">Kitchen & Dining</option>
            <option value="New_Arrival">New Arrival</option>
            <option value="Decor">Decor</option>
        </select>
      </div>
      <div class="modal-footer">
        <button mat-raised-button color="accent" (click)="UpdateDetails(editItemForm.value)">Update Details</button>
        <button mat-raised-button (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
