
   <app-header></app-header>
   <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Kitchen & Dining">
        <app-kitchen-items></app-kitchen-items>
    </mat-tab>
    <mat-tab label="Decor">
        <app-decor-items></app-decor-items>
    </mat-tab>
    <mat-tab label="Furniture">Furniture</mat-tab>
    <mat-tab label="Bags & Accessories">Bags & Accessories</mat-tab>
    <mat-tab label="Beauty">Beauty</mat-tab>
    <mat-tab label="New Arrivals">
        <app-new-arrivals></app-new-arrivals>
    </mat-tab>
  </mat-tab-group>





